{% extends "index.html" %}
{% block content %}
{% include "includes/navbar.html" %}
{% load static %}
<!-- Nav Starts -->

<section class="ftco-section ftco-no-pt bg-white" style="margin-top:2%">
	<div class="container">
		<div class="row">
			<div class="col-md-12 heading-section text-start ftco-animate">
				<h2 class="mb-2">Our Projects</h2>
			</div>
		</div>
	</div>
    <div class="container">
        <div class="row">
            {% for project in projects %}
            <div class="col-sm-6 col-md-3 mb-3">
                <div class="card" >
                <img src="{{project.main_photo.url}}" height="250px" width="100px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{project.project_name}}</h5>
                    <p class="card-text">{{project.description|truncatechars:20}}</p>
                    <a href="{% url 'assets:project_detail' project.id %}" class="btn btn-primary">Learn More</a>
                </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}