{% extends "index.html" %}
{% block content %}
{% include "includes/navbar.html" %}
{% load static %}

<!-- About Start -->
{% if about_details %}
<div class="container-fluid about">
    <div class="container py-5">
        <h1 class="section-about-title pe-3 text-center" style="font-family: 'Nunito', sans-serif;font-weight: 900;">About <span style="color:#dc1666">Us</span> </h1>
        <div class="row g-5 align-items-center justify-content-center">
			<div class="col-sm-12">
				<img src="{{about_details.image.url}}" width="100%" height="auto" class="img-fluid" alt="">
			</div>
			<div class="col-sm-12"
				style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8));">
				<p class="mb-4">{{about_details.content|linebreaks}}</p>
			</div>
		</div>
        <div class="container">
            <div class="row justify-content-around">
                {% for director in about_details.directors.all %}
                <div class="{% if director.count >= 4 %}col-6 col-md-4 {% else %} col-6 col-md-4 {% endif %}">
                    <div class="card mb-5" >
                        <img src="{{director.image.url}}" class="card-img-top" alt="{{director.full_name}} image">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{director.full_name}}</h5>
                            <h6 class="text-center">{{director.position}}</h6>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
	</div>
</div>
{% else %}
<div class="container text-center my-5">
    <h1>No Data Available</h1>
    <p class="lead">Sorry, there is no data to display.</p>
    <a href="{% url 'home:home_view' %}" class="btn btn-primary">Go Back</a>
  </div>
{% endif %}
{% endblock content %}
