{% extends "index.html" %}
{% load static %}
{% block content %}
{% include "includes/navbar.html" %}
<div id="carouselBasicExample" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
	{% for carousel in carousels %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      <img src="{{carousel.image.url}}" class="d-block w-100" alt="Sunset Over the City"/>
    </div>
	{% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselBasicExample" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselBasicExample" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- About Start -->
<div class="container-fluid about">
	<div class="container py-5">
		<div class="row g-5 align-items-center">
			<div class="col-sm-12"
				style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8));">
				<h1 class="section-about-title pe-3" style="font-family: 'Nunito', sans-serif;font-weight: 900;">About <span style="color:#dc1666;font-family: 'Nunito', sans-serif;font-weight: 900;">Us</span></h1>
				<p class="mb-4">Alaska group is leading a team of the brightest minds in architecture,
					G R O U P engineering and designing to develop the idea of township in a reality.</p>
				<p class="mb-4">Revered as one of the most reliable real estate
					developers in Madhya Pradesh, Alaska Group
					was incepted in 2006 with the intention of
					dramatically transforming the real estate
					landscape of Indore and nearby areas by
					introducing world-class residential and
					commercial spaces. Alaska Group in the past 16
					years has completed it’s growth in premium
					properties across the length and breadth of the
					city.</p>
				<p class="mb-4">Trusted by generations of property owners,
					Alaska Group have over the years created their
					own niche and have become a formidable force
					in the growing real estate market. Known for
					our timely deliveries, customer relations and
					infallible infrastructure, we pride ourselves in
					understanding the needs of the market and
					catering to it exclusively in our own trademark
					style!</p>
				<a class="btn btn-primary rounded-pill py-3 px-5 mt-2 read-btn" href="{% url 'home:about_view' %}">Read More</a>
			</div>
		</div>
	</div>
</div>
<section class="ftco-section">
	<div class="container">
		<div class="row mb-5">
			<div class="col-md-7 heading-section ftco-animate">
				<h2 class="mb-3" style="font-family: 'Nunito', sans-serif;font-weight: 900;">Our Facilities</h2>
			</div>
		</div>
		<div class="row h-100">
			<div class="col-md-3 col-sm-6 mb-5">
				<div class="services services-2 w-100 h-100 text-center" style="height:110%">
					<div class="icon d-flex align-items-center justify-content-center  services-shadow-hover"><span
							class="flaticon-wedding-car"></span></div>
					<div class="text w-100 ">
						<h3 class="heading mb-2">360&#176 Security Camera</h3>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 mb-5">
				<div class="services services-2 w-100 text-center">
					<div class="icon d-flex align-items-center justify-content-center services-shadow-hover"><span
							class="flaticon-transportation"></span></div>
					<div class="text w-100">
						<h3 class="heading mb-2">Solar System for Street Lights</h3>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 mb-5">
				<div class="services services-2 w-100 text-center">
					<div class="icon d-flex align-items-center justify-content-center services-shadow-hover"><span
							class="flaticon-car"></span></div>
					<div class="text w-100">
						<h3 class="heading mb-2">Drip Irrigation System</h3>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 mb-5">
				<div class="services services-2 w-100 text-center">
					<div class="icon d-flex align-items-center justify-content-center services-shadow-hover"><span
							class="flaticon-transportation"></span></div>
					<div class="text w-100">
						<h3 class="heading mb-2">Wide RCC Roads</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6 mb-5">
				<div class="services services-2 w-100 text-center">
					<div class="icon d-flex align-items-center justify-content-center services-shadow-hover"><span
							class="flaticon-wedding-car"></span></div>
					<div class="text w-100">
						<h3 class="heading mb-2">Road Side Pover Block</h3>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 mb-5">
				<div class="services services-2 w-100 text-center">
					<div class="icon d-flex align-items-center justify-content-center services-shadow-hover"><span
							class="flaticon-transportation"></span></div>
					<div class="text w-100">
						<h3 class="heading mb-2">Water Tank with underground Supply Line</h3>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 mb-5">
				<div class="services services-2 w-100 text-center">
					<div class="icon d-flex align-items-center justify-content-center services-shadow-hover"><span
							class="flaticon-car"></span></div>
					<div class="text w-100">
						<h3 class="heading mb-2">Underground Drainage Line with
							Severage treatment plant</h3>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 mb-5">
				<div class="services services-2 w-100 text-center">
					<div class="icon d-flex align-items-center justify-content-center services-shadow-hover"><span
							class="flaticon-transportation"></span></div>
					<div class="text w-100">
						<h3 class="heading mb-2">Underground Storm Water line
							with Water recharging pit</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="container-fluid about">
	<div class="container py-5">
					<div class="row">
			<div class="col-md-12 heading-section  ftco-animate mb-5">
				<h2 class="mb-2" style="font-family: 'Nunito', sans-serif;font-weight: 900;">Properties</h2>
			</div>
		</div>
		<div class="row g-5 align-items-center">
			{% for property in properties|slice:":1" %}
			<div class="col-lg-5">
				<img src="{{property.main_photo.url}}" class="img-fluid w-100 h-auto rounded" alt="{{property.property_name}}">
			</div>
			<div class="col-lg-7"
				style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8));">
				<h1>{{property.property_name}}</h1>
				<p class="mb-2">{{property.description|linebreaks|truncatechars:380}}</p>
				<a class="btn btn-primary rounded-pill py-3 px-5 mt-2 read-btn" style="border-color:#dc1666;" href="{% url 'assets:property_detail' property.id %}">Learn More</a>
				<a class="ml-2 btn rounded-pill py-3 px-5 mt-2 read-btn btn-outline-black" style="border-color:#dc1666;color:#dc1666;" onclick="navigate('contact-us')">Contact US</a>
			</div>
			{% endfor %}
		</div>

			<div class="row justify-content-between g-5 mt-5 carousel-car owl-carousel">
				{% for property in properties %}
				<div class="col-sm-6 col-md-3 mb-3">
				<div class="card border-0 d-flex justify-content-center">
					<a href="{% url 'assets:property_detail' property.id %}">
						<img src="{{property.main_photo.url}}" style="height:11rem;width:21rem;:object-fit:cover"  class="card-img-top" alt="{{property.property_name}}">
					</a>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="row justify-content-center">
				<a class="btn btn-primary py-3 px-5 text-center" style="border-color:#dc1666;" href="{% url 'assets:property_list' %}">View More</a>
			</div>
	</div>
</div>


<section class="ftco-section ftco-no-pt bg-light">
	<div class="container ">
		<div class="row justify-content-center">
			<div class="col-md-12 heading-section text-center ftco-animate mb-5">
				<h2 class="mb-2" style="font-family: 'Nunito', sans-serif;font-weight: 900;">Gallery</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="carousel-car owl-carousel">
					{% for gallery in galleries %}
					<div class="item h-100">
						<div class="car-wrap rounded ftco-animate">
							<div class="img rounded d-flex align-items-end"
								style="background-image: url({{gallery.image.url}});">
							</div>
							<div class="text">
								<h2 class="mb-0"><a href="#">{{gallery.title}}</a></h2>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-no-pt bg-light" id="contact-us">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12 heading-section text-center ftco-animate mb-5">
				<h2 class="mb-2" style="font-family: 'Nunito', sans-serif;font-weight: 900;">Contact Us</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 block-9 mb-md-5">
				<div id="contact_us_form"></div>
            <form onSubmit="contactForm(event)" method="POST" class="bg-light p-5 contact-form">
				{% csrf_token %}
              <div class="form-group">
                <input type="text" name="full_name" class="form-control" placeholder="Your Name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="email" placeholder="Your Email">
              </div>
              <div class="form-group">
                <input type="phone2numeric" class="form-control" name="phone_number" placeholder="Phone Number">
              </div>
              <div class="form-group">
                <textarea id="" cols="30" rows="7" class="form-control" name="message" placeholder="Message"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
              </div>
            </form>
          
          </div>
			</div>
		</div>
	</div>
</section>
<script>
function contactForm(event) {
        event.preventDefault();
        var formData = $('.contact-form').serialize();

        $.ajax({
            type: 'POST',
            url: '/contact/us/',
            data: formData,
            success: function (response) {
                $('.contact-error-message').remove();
                if (response.status === 201) {
                    $('#contact_us_form').html(`
                    <div class="alert alert-success" role="alert">
                        ${response.message}
                    </div>
                `);

                    // Reset the form
                    document.querySelector('.contact-form').reset();

                    setTimeout(function () {
                        $('#contact_us_form').fadeOut('slow');
                    }, 4000);
                } else if (response.status === 400 && response.errors) {
                    $.each(response.errors, function (field, error) {
                        var inputField = $('[name="' + field + '"]');
                        inputField.after('<div class="contact-error-message text-danger">' + error + '</div>');
                    });
                } else {
                    console.error("Something Went Wrong");
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
{% endblock content %}