{% extends "index.html" %}  
{% load static %}
{% block content %}
{% include "includes/navbar.html" %}
<section class="ftco-section ftco-no-pt bg-white" style="margin-top:4%">
    	<div class="container">
		<div class="row">
			<div class="col-sm-12 heading-section text-start ftco-animate">
				<h2 class="mb-2">{{property_data.name}}</h2>
			</div>
		</div>
	</div>
    <div class="container">
  <div class="row">
    <div class="col-md-5">
      <img src="{% static 'images/realestate.jpg' %}" alt="" width="100%"/>
    </div>
    <div class="col-sm-7">
        <p>
            {{property_data.descroption|linebreaks}}
        </p>

        {% comment %} <div class="container">
            <div class="row">
                    <div class="col-sm-6 mb-2">
                        <div class="card" style="background-color:#089188;">
                            <div class="card-body">
                                <h5 class="card-title text-white">Gym</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-2">
                        <div class="card" style="background-color:#089188;">
                            <div class="card-body">
                                <h5 class="card-title text-white">Gym</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-2">
                        <div class="card" style="background-color:#089188;">
                            <div class="card-body">
                                <h5 class="card-title text-white">Gym</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-2">
                        <div class="card" style="background-color:#089188;">
                            <div class="card-body">
                                <h5 class="card-title text-white">Car wash Center</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-2">
                        <div class="card" style="background-color:#089188;">
                            <div class="card-body">
                                <h5 class="card-title text-white">Swimming Pool</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-2">
                        <div class="card" style="background-color:#089188;">
                            <div class="card-body">
                                <h5 class="card-title text-white">PUB</h5>
                            </div>
                        </div>
                    </div>
                    {% comment %} <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                            </div>
                     </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Swimming Pool</h5>
                            </div>
                     </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Five Sense Garden</h5>
                            </div>
                     </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Children Park</h5>
                            </div>
                     </div> {% endcomment %}
               {% comment %} </div>
            </div>
        </div> {% endcomment %}
    </div>
  </div>


  <div class="mt-4">
        <h2  class="mb-2">Gallery </h2>
	  </div>
      <div class="container">
          <div class="row my-0">
            <div class="col-6 col-md-3 mb-4">
                <img src="{% static 'images/realestate.jpg' %}" alt="" width="100%"/>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <img src="{% static 'images/realestate.jpg' %}" alt="" width="100%"/>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <img src="{% static 'images/realestate.jpg' %}" alt="" width="100%"/>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <img src="{% static 'images/realestate.jpg' %}" alt="" width="100%"/>
            </div>
          </div>
      </div>
  {% comment %} <div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            dfdf
        </div>
        <div class="col-sm-6">
            dsds
        </div>
        <div class="col-sm-6">dssd</div>
        <div class="col-sm-6">sdds</div>
        <div class="col-sm-6">sd   /div>
    </div>
  </div> {% endcomment %}
</div>
</section>

{% endblock content %}

