{% load static %}
<footer class="ftco-footer ftco-bg-dark ftco-section" style="height:50%">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="ftco-footer-widget">
          <h2 class="ftco-heading-2">
            <img src="{% static 'images/logo.png' %}" alt=""  width="80px"/>
          </h2>
          <p>
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts.
          </p>
          <ul
            class="ftco-footer-social list-unstyled float-md-left float-lft mt-5"
          >
            <li class="ftco-animate">
              <a href="#"><span class="icon-twitter"></span></a>
            </li>
            <li class="ftco-animate">
              <a href="#"><span class="icon-facebook"></span></a>
            </li>
            <li class="ftco-animate">
              <a href="#"><span class="icon-instagram"></span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-5">
          <h2 class="ftco-heading-2" style="margin-bottom:10px;">Links</h2>
          <ul class="list-unstyled">
            <li><a href="{% url 'home:about_view' %}" class="nav-link">About US</a></li>
            <li><a href="{% url 'assets:property_list' %}" class="nav-link">Properties</a></li>
            <li><a href="{% url 'assets:project_list' %}" class="nav-link">Our Projects</a></li>
            <li><a href="{% url 'home:infratech' %}" class="nav-link">Infratech</a></li>
            <li><a href="{% url 'home:blog_list' %}" class="nav-link">Blog</a></li>
            <li><a href="#" onclick="navigate('contact-us')" class="nav-link">Contact US</a></li>
          </ul>
        </div>
      </div>
      {% comment %} <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Customer Support</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">FAQ</a></li>
            <li><a href="#" class="py-2 d-block">Booking Tips</a></li>
            <li><a href="#" class="py-2 d-block">How it works</a></li>
            <li><a href="#" class="py-2 d-block">Contact Us</a></li>
          </ul>
        </div>
      </div> {% endcomment %}
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2" style="margin-bottom:20px;">Have a Questions?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li>
                <span class="icon icon-map-marker"></span
                ><span class="text"
                  >City Office : Bhumi realty 
01 ellite empire shivdham limbodi indore</span
                >
              </li>
              <li>
                <a href="#"
                  ><span class="icon icon-phone"></span
                  ><span class="text">8889158884,8889158883</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><span class="icon icon-envelope"></span
                  ><span class="text">nareshjaiswani0777@gmail.com</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          Copyright &copy;
          2024 reserved | This website is made by
          <a href="https://virtualmodify.in" target="_blank">Virtual Modify</a>
        </p>
      </div>
    </div>
  </div>
</footer>
