<!-- Nav Starts -->
{% load static %}
<nav
  class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light scrolled awake"
  id="ftco-navbar"
>
  <div class="container">
    <a href="{% url 'home:home_view' %}" class="mr-lg">
      <img src="{% static 'images/logo.png' %}" alt=""  width="80px"/>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="true"
      aria-label="Toggle navigation"
    >
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse ml-5" id="ftco-nav">
      <ul class="navbar-nav ml-5">
        <li class="nav-item active"><a href="{% url 'home:home_view' %}" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="{% url 'home:about_view' %}" class="nav-link">About US</a></li>
        <li class="nav-item"><a href="{% url 'assets:property_list' %}" class="nav-link">Properties</a></li>
        <li class="nav-item"><a href="{% url 'assets:project_list' %}" class="nav-link">Our Projects</a></li>
        <li class="nav-item"><a href="{% url 'home:blog_list' %}" class="nav-link">Blog</a></li>
        <li class="nav-item"><a href="#" onclick="navigate('contact-us')" class="nav-link">Contact US</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Nav Ends -->
