<!-- Nav Starts -->
{% load static %}
<nav
  class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
  id="ftco-navbar"
>
  <div class="container">
    <img src="{% static 'images/logo.png' %}" alt=""  width="80px"/>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="{% url 'home_view' %}" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="{% url 'home_view' %}" class="nav-link">About US</a></li>
        <li class="nav-item"><a href="{% url 'property_list' %}" class="nav-link">Properties</a></li>
        {% comment %} <li class="nav-item"><a href="{% url 'home_view' %}" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="{% url 'home_view' %}" class="nav-link">Blog</a></li> {% endcomment %}
        <li class="nav-item"><a href="#contact-us" class="nav-link">Contact US</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Nav Ends -->
